.fondo {
    background-color: #ECF0F1 ;
    }
 .titulo {
    margin: auto ;
    color: #17202A ;
    font-family: Broadway ;
    background-color:#2ECC71 
    }
 .barradenavegacion {
      list-style-type: none ;
      margin: 0 ;
      padding: 0 ;
      float: left ;
      display: block;
      padding: 8px;
    }
 .hola {
        text-align: center;
    }
.piedepagina {
  background-color:#2ECC71;
  margin: auto;
}
.instagram {
  width: 40px; height: 40px;
  margin: auto
}

    